body {
    background-color:FFE39C;
}
.input{
    padding: 2em;
    background-color: E8C8EB;
}
.input > label {
            display:inline;
            width: 20em;
            padding: 0.5em;
        }
.input > input[type="text"] {
            margin: 0.5em;
            padding: 0.5em;
        }
.input2 > label {
            display: inline;
            width: 20em;
            padding: 0.5em;
            padding-right: 0.5em;
        }
.input2 > input[type="text"] {
            margin: 0.5em;
            padding: 0.5em;
        }
.box {
    margin: 1em;
    padding-top: 5em;
    text-align:center;
}